<p id="notice"><%= notice %></p>

<div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Meme World
                    <small>The one place for the best memes</small>
                </h1>
                <center><%= link_to 'Post New Meme', new_meme_path, class: "btn btn-primary" %></center>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
          <% @memes.each do |meme| %>
            <div class="col-md-12" style="margin: 20px 20px;">
              <center><img src="<%= meme.img %>"></center>
            </div>
          <% end %>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>

<br>
